<ul class="navbar-nav mr-auto">
  <li class="nav-item" routerLinkActive="active-link">
    <a class="nav-link" routerLink='/home'>Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active-link">
    <a class="nav-link" routerLink='/concepts'>Concepts</a>
  </li>
  <li class="nav-item" routerLinkActive="active-link">
    <a class="nav-link" routerLink='/contacts'>Contacts</a>
  </li>
  <li class="nav-item" routerLinkActive="active-link">
    <a class="nav-link" routerLink='/abouts'>About</a>
  </li>
  <li class="nav-item" routerLinkActive="active-link">
    <a class="nav-link" routerLink='/get_in_touch'>Get in Touch</a>
  </li>
  <ng-content></ng-content>
</ul>